/* Estilo del contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura como desees */
  }
  
  /* Estilo de la tarjeta */
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Limita el ancho de la tarjeta según tus necesidades */
  }
  
  /* Estilo del título del modelo */
  .card h3 {
    margin-top: 0;
  }
  
  /* Estilo de los campos de la tabla */
  .card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 4px;
  }
  
  /* Estilo de los detalles de cada campo */
  .card li span {
    font-weight: bold;
    margin-right: 4px;
  }
  